.container {
    max-width: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.weather-app {
    border: 2px solid #dadde1;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(#f6ebe6, #aee1f9);
}

.clear {
    text-transform: capitalize;
}

.degree {
    line-height: 1.5;
    font-size: 34px;
}

img {
    height: 64px;
    width: 64px;
}

.unit {
    position: relative;
    top: -10px;
    font-size: 17px;
}

.prediction {
    font-size: 13px;
}

.min-prediction {
    opacity: 0.6;
}

.active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
}

.active:hover {
    text-decoration: none;
}

.grouping {
    background: white;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.icons {
    margin-top: 7px;
}
